# IntelliJ
.idea/
*.iml

# Maven
target/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/

# Env
.env

# Personal notes
backend/h2Commands.txt
backend/info.txt
application-local.properties